default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: consul_development

test:
  <<: *default
  database: consul_test

production:
  <<: *default
  database: consul_production
  username: <%= ENV['PG_ENV_POSTGRES_USER'] %>
  password: <%= ENV['PG_ENV_POSTGRES_PASSWORD'] %>
  host:  <%= ENV['PG_PORT_5432_TCP_ADDR'] || "127.0.0.1" %>
